.padding-0 {
  padding: 0px;
}

.padding-left-0 {
  padding-left: 0px;
}

.padding-top-0 {
  padding-top: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}


.padding-sm {
  padding: 1.0rem;
}

.padding-left-sm {
  padding-left: 1.0rem;
}

.padding-top-sm {
  padding-top: 1.0rem;
}

.padding-right-sm {
  padding-right: 1.0rem;
}

.padding-bottom-sm {
  padding-bottom: 1.0rem;
}


.padding-lg {
  padding: 1.5rem;
}

.padding-left-lg {
  padding-left: 1.5rem;
}

.padding-top-lg {
  padding-top: 1.5rem;
}

.padding-right-lg {
  padding-right: 1.5rem;
}

.padding-bottom-lg {
  padding-bottom: 1.5rem;
}



.margin-0 {
  margin: 0px;
}

.margin-left-0 {
  margin-left: 0px;
}

.margin-top-0 {
  margin-top: 0px;
}

.margin-right-0 {
  margin-right: 0px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.margin-xs {
  margin: 0.5rem;
}

.margin-left-xs {
  margin-left: 0.5rem;
}

.margin-top-xs {
  margin-top: 0.5rem;
}

.margin-right-xs {
  margin-right: 0.5rem;
}

.margin-bottom-xs {
  margin-bottom: 0.5rem;
}

.margin-sm {
  margin: 1.0rem;
}

.margin-left-sm {
  margin-left: 1.0rem;
}

.margin-top-sm {
  margin-top: 1.0rem;
}

.margin-right-sm {
  margin-right: 1.0rem;
}

.margin-bottom-sm {
  margin-bottom: 1.0rem;
}


.margin-lg {
  margin: 1.5rem;
}

.margin-left-lg {
  margin-left: 1.5rem;
}

.margin-top-lg {
  margin-top: 1.5rem;
}

.margin-right-lg {
  margin-right: 1.5rem;
}

.margin-bottom-lg {
  margin-bottom: 1.5rem;
}


.button.button-sm {
  height: 1.8rem;
  font-size: .85rem;
  line-height: 1.8rem;
}

